/****************************************/
/* Label - FurnitureTrainingCompany.com */
/****************************************/
a { color: #9f2a12; }
a:hover, #nav-icons a:hover, #footer a:hover, #sidebar a.sub:hover { color: #004459 }
#nav, .box h2 { background-color: #004459 }
#sidebar h2 { background-color: #004459 }

#description { color: #F89B01 }

.button { 
	background-color: #005873;
	border: 1px solid #004459;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #004459, 0 0 3px #d5d4d4;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #004459, 0 0 3px #d5d4d4;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #004459, 0 0 3px #d5d4d4;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #004459, 0 0 3px #d5d4d4;
}

#ticket { background-color: #004459 }
#ticket:hover { background-color:#616268 }