/************************************/
/* Label - VisionaryWebServices.com */
/************************************/
a { color: #282828; }
a:hover, #nav-icons a:hover, #footer a:hover, #sidebar a.sub:hover { color: #de1e24 }
#nav, .box h2 { background-color: #de1e24 }
#sidebar h2 { background-color: #de1e24 }
#description { color: #de1e24 }

.button {
	background-color: #de1e24;
	border: 1px solid #b00b10;
	box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffffff, 0 0 3px #b30f15;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffffff, 0 0 3px #b30f15;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffffff, 0 0 3px #b30f15;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #ffffff, 0 0 3px #b30f15;
}

.small-button {
	background-color: #de1e24;
	border: 1px solid #b00b10;
	box-shadow: inset 0 1px 3px #fff, inset 0 -10px #ffffff, 0 0 3px #b30f15;
   -o-box-shadow: inset 0 1px 3px #fff, inset 0 -10px #ffffff, 0 0 3px #b30f15;
   -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -10px #ffffff, 0 0 3px #b30f15;
   -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -10px #ffffff, 0 0 3px #b30f15;
}