#banner-list .banner {
  position: relative;
  width: 60%;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
#banner-list .banner.disabled {
  opacity: 0.6;
}
#banner-list .banner.disabled h3 {
  color: #797979;
}
#banner-list .banner .banner-actions {
  position: absolute;
  top: 12px;
  right: 5px;
}
#banner-list .banner .banner-actions .remove {
  color: red;
  font-size: 18px;
}
#banner-list .banner img {
  width: 100%;
  margin-top: 35px;
}
#banner-list .banner .banner-status-label {
  font-weight: 700;
  color: #DDDDDD;
}
#banner-list .banner .banner-status-label.selected {
  color: #418DCB;
}
#banner-list .banner .banner-status-label.selected.running {
  color: #39b2a9;
}
#banner-list .banner .banner-status-label.selected.over {
  color: red;
}
#banner-list .banner .input-daterange {
  margin-bottom: 15px;
}
#banner-list .banner-placeholder {
  height: 100px;
  width: 60%;
  border: 1px dashed #999;
}
