#navigation .dd3-content {
  font-weight: normal;
}
#navigation .dd3-content .page-url {
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: 85%;
  font-style: italic;
}
#navigation .dd3-content .delete {
  position: absolute;
  top: 5px;
  right: 10px;
  color: red;
}
