/***********/
/* Sidebar */
/***********/
.element-box, .box-placeholder { 
	width: 406px; padding:10px; position:relative;
	border: 1px #D9D9D9 solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: n-resize
}
.element-box.disabled { background-color: #9C9C9C }
.element-box.disabled h2, .element-box.disabled p { color: #7F7F80 }

.element-box h2 { font-size: 16px; font-weight: bold }
.element-box small { padding-bottom: 5px; font-size: 11px }

h2.text { padding-bottom: 0 }
.enable-disable { background: url(/images/buttons/website/show-hide.png) 0 -25px no-repeat; width: 76px; height:25px; position: absolute; top: 12px; right: 11px }
.enable-disable.disabled { background-position: 0 0 }
.buttons { position:relative; width: 300px; margin: 0 auto }

.box-divider { height: 18px; width:426px; background:url(/images/divider.png) center center no-repeat }

.center-content, #pTempEmailMessage { text-align:center }

.box-placeholder { border-style:dashed }

#dEmailContent textarea, .sidebar-image-url { width: 100%; border: 1px #DADADA solid }
.sidebar-image-url { margin-bottom: 7px; width: 260px }
#dNewImage { float:left; width: 147px; height:35px;  position: relative; bottom: 9px; padding-right: 5px }
#taEmail { width: 388px !important }