h3 { font-size: 18px; padding-bottom: 8px; line-height: 20px; margin-top: 15px; }

.done {
	background-color: #EFEFEF;
}

.list-item {
	display: block;
	height: 22px;
	padding-top: 7px;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

.list-item .sequence{
	font-weight: bold;
	font-size: 16px;
	color: #ccc;
	width: 30px;
	padding-right: 5px;
	text-align: right;
	display: inline-block;
}

.list-item .check{
	padding-right: 5px;
	vertical-align: middle;
	display: inline-block;
}

.list-item .cb { top: 0; }

#notes { width: 493px; max-height: 300px; overflow: auto;}
#notes .note {
	display: block;
	border-bottom: 1px solid #ccc;
    line-height: 18px;
	padding: 5px 0;
    width: 100%;
	float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;;
}

#notes .title { float: left; width: 125px; display: block; }
#notes .note-note { float:left;}

#fNewNote {
	margin-left: 125px;
	margin-top: 10px;
	display: inline-block;
}
#fNewNote input { margin-top: 9px;}