/*********************/
/* Checklists - View */
/*********************/
h3 { font-size: 18px; padding-bottom: 8px; line-height: 20px }
#subcontent td, #subcontent td a{ padding-right: 10px; padding-bottom: 10px; vertical-align: top; line-height: 17px; }

.done {
	background-color: #EFEFEF;
}
.list-item {
	display: block;
	height: 22px;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 3px;
}
.list-item .sequence{
	font-weight: bolder;
	font-size: 16px;
	color: #CCCCCC;
	width: 30px;
	padding-right: 5px;
	text-align: right;
	display: inline-block;
}
.list-item .check{
	padding-right: 5px;
	vertical-align: middle;
	display: inline-block;
}

.note-link { color: #ffa800 }
.note-link:hover { color: #616268 }

#dNotes{ display: block;  font-size: 0.8em }
#dNotesList .dNote {
	display: block;
	border-bottom-color: #CCCCCC;
	border-bottom-style:  solid;
	border-bottom-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	float: left;
}
#dNotesList {
	display: block;
}
#dNotesList .dNote .title { float: left; width: 125px; display: block; line-height: 18px; }
#dNotesList .dNote .note { width: auto; line-height:16px; display:block; float:left;}
#fNewNote{
	margin-left: 125px;
	margin-top:10px;
	display: inline-block;
}
#dNotesList a { color: #FFA800; }
#dNotesList a:hover { color: #616268; }

.ui-dialog.single button { width:100% !important }
.ui-dialog.single .ui-dialog-buttonpane { background-image: none }