#tListRequests_info { clear:left; float:right; position:relative }
#tListProducts_length { position:absolute; top: -40px; right: -15px; left: auto; width: 250px }
#dProductList { padding: 0; position:relative; float:left; width:100% }
.product { min-height: inherit; }
.product, .product_heading, .product-placeholder {
	background-color: #FFFFFF; margin: 10px 15px 0 0; padding:5px 0 48px; display: block; float:left; width:190px; text-align:center; cursor:move; border: 1px solid #e2e2e2; position: relative;
}
#dProductList.ui-sortable-disabled .product, #dProductList.ui-sortable-disabled .product_heading, #dProductList.ui-sortable-disabled .product-placeholder { cursor: default }

.product-placeholder { height: 218px; margin: 10px 15px 0 0; padding:0; border-style: dashed; }

.product h4 { font-weight: bold; margin-top: 0px; margin-left: 5px; display: inline-block;}
.product p { padding-bottom: 0; }
.product a { margin-left: 0; }
.product .product-actions { display: inline-block; position: absolute; left: 9px; color: #9E9E9E; }
.product a.tb { font-weight: normal; margin: 0; }

/** Bottom 5 **/
.product .product-actions, #dSelectedCategory {
	bottom: 5px;
}

/* Rounded Corners */
.product, .product_heading , .product-placeholder, #dSelectedCategory {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

/** Edit Product dialog **/
#dEditProduct .boxy-content { position: relative; }
#fEditProduct { width: 853px !important }
#dPopupTabs { position: absolute; left: 0; top: 51px; background: #E5E5E5; border-bottom: 1px solid #CCCCCC; height: 37px; width: 863px; padding-left: 20px; }
.screen-selector { border: 1px solid #ccc; border-bottom: 0 !important; background:  url(/images/slivers/grey-tab.png) 0 0 repeat-x; color: #BFBFBF; font-size: 15px; font-weight: bold; padding:  5px 11px; position: relative; top: 14px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.screen-selector.selected, .screen-selector:hover { color: #999; }
#dEditProduct .price{ width:50px; }

#dEditProduct { color: #333 }
#dEditProduct h4 { color: #999; font-size: 18px; font-weight: normal; padding-bottom: 2px }

.coupon, .coupon-placeholder { padding: 5px 0 3px; margin: 5px 0; border: 1px solid; height: 17px; width:100%; }
.coupon .coupon-name { margin-left: 5px; }
.coupon img { margin-right: 5px; }

.delete-product-option { color: #CC2222 !important; font-weight: bold; font-family:"Courier New", Courier, monospace; float:right; font-size: 1.2em; }

.screen{ overflow-y: auto; }

#dProductOptionsList .row { float:left; clear:left; width:100%; padding-bottom: 7px }
#dProductOptionsList .cell { float:left; padding: 2px 5px }
#dProductOptionsList .left { width: 220px }
#dProductOptionsList .right { widows: 530px }

#dEditProduct .cb { position:relative; top: 2px }
#bottom { padding-top:8px; padding-right:0px; clear: both; }