#tProductPrices_length { left: 0 }
input.alternate_price, input.price, input.sale_price {
    border: 1px solid #B3B3B3;
   	height: 19px;
   	padding: 6px 8px 7px;
    width: 80px;
}

input.price_note {
    border: 1px solid #B3B3B3;
   	height: 19px;
   	padding: 6px 8px 7px;
   	width: 368px;
}