/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight:inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	color: #595F65;
}
strong{font-weight:bold;}
em {font-style:italic;}

/* remember to define focus styles! */
a, a:focus, a:active, a:visited, input:focus {
	outline:none;
}
body {
	line-height: 1;
	color: #595F65;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Common Styles */
body { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:13px; background-color: #62636A }
h1 { float:left; font-size:30px; color: #404040; }

.red { color:#F00; }
.green { color: green; }
.success { color:#090; font-weight: bold; }

a { text-decoration:none; }
a:hover { color:#595f65 }
a img { border: none }

/* Main Containers */
#wrapper { min-height:100%; width:100%; }
#header { height: 108px; border-bottom: 1px solid #fff; background: #fff url(/images/slivers/header.png) 0 100% repeat-x; padding: 0 20px; }
#links { position: absolute; top: 44px; right: 20px; font-weight: bold }

#nav { position: relative; height: 33px; border-top: 1px solid #B0B0B0; border-bottom: 5px solid #222; padding: 0 20px; background: url(/images/slivers/navigation.png) 0 0 repeat-x }
#nav-links { height:33px; width: 65%; position:relative; float:left }
#nav-links a { 
	position: relative; top: 9px; border: 1px solid transparent; border-bottom: 0 !important; padding: 3px 9px 9px; color: #8C8C8C; font-size: 14px; font-weight: bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#nav-links a.selected, #nav-links a:hover { border: 1px solid #414141; background: url(/images/slivers/button.png) 0 0 repeat-x; color: #fff }
#nav a { color: #fff }

#site-info { border-left: 1px solid #000; float:left; padding: 7px 0 0 20px; height:26px; }
#site-info img { padding-right: 10px }
#site-info a { color: #8C8C8C; font-weight: bold; font-size: 15px; position: relative; bottom: 5px; }
#site-info a .highlight { color: #fff }

#content { padding: 22px 42px; background: #fff url(/images/slivers/content.png) 0 100% repeat-x; border-bottom: 2px solid #fff }
#description { margin-left: 14px; padding-left: 13px; line-height: 19px; font-size: 15px; font-weight: bold; float:left; border-left: 1px solid #737373; color: #737373 }

#nav-icons a { text-align:center; display: block; width:150px; float:left; font-size: 14px; font-weight: bold; color: #999; margin-right: 20px }
#nav-icons a img { padding-bottom: 10px }

#sidebar { width: 200px; border: 1px solid #AFAFAF; position: absolute; }
#sidebar h2 { border: 1px solid #E9E9E9; border-bottom: none !important; font-size: 20px; font-weight: bold; color: #fff; text-align: center; padding: 6px }
#sidebar a.top { border-top: 1px solid #F6F6F6; border-bottom: 1px solid #D7D7D7; font-weight: bold; font-size: 16px; color: #606060; display: block; text-align:center; background-color: #E9E9E9; padding: 9px 0 10px }
#sidebar a.sub { border-top: 1px solid #C8C8C8; border-bottom: 1px solid #9D9D9D; font-weight: bold; font-size: 13px; color: #fff; display: block; text-align: center; background-color: #A8A8A8; padding: 10px 0 11px; }
#sidebar a.sub.first { border-top: 1px solid #F6F6F6; }
#sidebar a.last { border-bottom: none !important; }

#sidebar a.sub.view { background: #A8A8A8 url(/images/icons/view.png) 55px 9px no-repeat }
#sidebar a.sub.add { background: #A8A8A8 url(/images/icons/add.png) 55px 9px no-repeat }
#sidebar a.sub.export { background: #A8A8A8 url(/images/icons/export.png) 55px 9px no-repeat }
#sidebar a.sub.import { background: #A8A8A8 url(/images/icons/import.png) 55px 9px no-repeat }

#subcontent { margin-left: 220px }

#footer { padding-top: 19px; text-align:center }
#footer p, #footer a, #copyright { color: #9A9CA6; font-weight: bold }
#footer a { padding: 0 2px; }
#footer a:hover { color: #fff }

#copyright { font-size: 11px }

#aLogout { 
	height:19px; padding: 4px 24px 0; background: url(/images/slivers/logout.png) 0 0 repeat-x; border: 1px solid #000; position:absolute; top:0; right: 20px; color: #fff; font-size: 12px; font-weight: bold;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.button {
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #fff !important;
	padding: 5px 30px;
}

.small-button {
	font-size: 14px;
	line-height: 12px;
	font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff !important;
	padding: 3px 10px;
}

input.button {
	margin:0;
	cursor: pointer;
	padding:6px 10px;
	#padding:2px 10px 2px;
}

input.small-button {
	margin:0;
	cursor: pointer;
	padding:4px 10px;
}

.hidden { display: none }
.ui-state-hover { background-image: none !important; background-color: #A8A8A8 !important; color:#fff !important; border-color: #A8A8A8 !important}

/***** Dialogs *****/
.boxy-wrapper { position: absolute; font-size: 14px; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */
.boxy-modal-blackout { position: absolute; background: #000; left: 0; top: 0; }

/* Border */
.boxy-wrapper { 
	border: 10px solid #666;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Title bar */
.boxy-wrapper .title-bar { background: #000; padding: 6px; position: relative; }
.boxy-wrapper .title-bar h2 { font-size: 14px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 14px; line-height: 1; }
	
/* Content Region */
.boxy-inner { overflow: hidden; background-color: white; padding: 0 }
.boxy-content { padding: 15px; }

/* Question Boxes */
.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }
.boxy-content li { padding-bottom: 7px }

/** Tickets */
#ticket { position:fixed; left:0; top: 45%; width:29px; height:108px; background-color: #a5a5a5 }
#ticket:hover { background-color:#8c8c8c }
#aTicket { display: block; width:26px; height:100px; padding: 4px 2px 4px 1px; background: url(http://account.imagineretailer.com/images/backgrounds/support.png) 0 4px no-repeat }
#tTicketSummary{margin-bottom:7px}
#ticket-attachments { display: none; padding-bottom: 7px; border-bottom: 1px solid #929292; position:relative; margin-bottom: 7px }
#ticket-attachments a { position:relative; top: 5px }
#tTicketSummary,#taTicket { font-family: Arial, Helvetica, sans-serif; font-size: 14px }

.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 5px;
	padding: 10px;
	width: 100%;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}

/* Temporary Values */
.tmpval { color: #929292 }