#popup-editor {
  width: 700px;
  margin: 0 auto 75px;
}
#popup-editor #popup-image {
  border: 2px solid #ddd;
  margin-bottom: 5px;
  position: relative;
}
#popup-editor #popup-body {
  border: 2px solid #ddd;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}
#popup-editor #popup-body #popup-title {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  border: none;
  resize: none;
}
#popup-editor #popup-body #popup-text {
  font-size: 16px;
  text-align: center;
  border: none;
  resize: none;
}
#popup-editor #popup-form {
  border: 2px solid #ddd;
  padding: 15px;
  height: 150px;
  position: relative;
}
#popup-editor #popup-form #popup-fields {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
#popup-editor #popup-form #popup-fields .popup-field-left {
  margin-right: 10px;
  padding-top: 7px;
  height: 34px;
  width: 40%;
  display: inline-block;
  background-color: #ddd;
  color: white;
}
#popup-editor #popup-form #popup-fields .popup-field-right {
  margin-left: 10px;
  padding-top: 7px;
  height: 34px;
  width: 40%;
  display: inline-block;
  background-color: #ddd;
  color: white;
}
#popup-editor #popup-form #submit-color {
  position: absolute;
  border-radius: 100px;
  background-color: #72CEE0;
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: 300px;
  text-align: center;
  padding-top: 25px;
  color: white;
  z-index: 1;
  border: 2px solid #ddd;
}
#settings-editor {
  width: 700px;
  margin: 0 auto;
}
#settings-editor #coupon-image {
  border: 2px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
#settings-editor #coupon-image #delete-coupon {
  position: absolute;
  color: red;
  top: 0px;
  right: 5px;
  display: none;
}
.email-settings {
  width: 640px;
  margin: 0 auto;
}
.email-settings h3 {
  margin-top: 40px;
}
.email-settings .email-header {
  border: 2px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.email-settings .email-header .delete {
  position: absolute;
  color: red;
  top: 0px;
  right: 5px;
  display: none;
}
.upload-tooltip {
  padding: 15px 30px;
  text-align: center;
  background: #000;
  color: white;
  font-size: 18px;
  opacity: 0.7;
  font-weight: 600;
  border-radius: 25px;
  position: absolute;
  top: 35%;
  right: 37%;
}
.upload-tooltip i {
  margin-left: 15px;
}
h3 a {
  color: #a1a1a1;
  font-size: 16px;
}

.colpick {
    height:180px;
}
.colpick_field_letter {
    width:18px;
}