/***********/
/* Reports */
/***********/
#dNarrowSearchContainer { margin-right: 30px }
#dNarrowSearch { padding: 13px 14px 31px; border: 1px solid #AFAFAF; background:#E9E9E9; width: 100%; position:relative }
#dNarrowSearch h2 { font-size: 24px; font-weight: bold; float:left; padding-right: 32px; }
#dNarrowSearch h2, #dNarrowSearch td, #dNarrowSearch label { color: #606060 }
#dNarrowSearch label { font-size: 15px; }
#iNYSArrow { position:absolute; top: 100%; left: 94px }

td, th { padding: 0 10px 7px 0 }
th { font-weight: bold; font-size: 18px }

#tAutoComplete { border: 1px solid #AFAFAF }
.ui-autocomplete { width:245px }
.ui-menu-item a { width: 235px; display: block; padding: 2px 5px; }