/*******/
/* Add */
/*******/
#dNarrowSearchContainer { margin-right: 30px }
#dNarrowSearch { padding: 13px 14px 31px; border: 1px solid #AFAFAF; background:#E9E9E9; width: 100%; position:relative }
#dNarrowSearch h2 { font-size: 24px; font-weight: bold; padding-bott: 7px; }
#dNarrowSearch h2, #dNarrowSearch td, #dNarrowSearch label { color: #606060 }
#iNYSArrow { position:absolute; top: 100%; left: 94px }
h3 { padding-bottom: 7px }

#tAddProducts_length { right: 0; text-align:right }

.page-content { margin-right: 325px; padding: 0 5px }
.divider { width: 100%; height:1px; background-color: #D3D3D3; margin-top: 22px; }

#right-sidebar {width: 306px; float:right; margin: 0 5px}
#right-sidebar .box { width: 306px;  margin-bottom: 10px; border: 1px solid #AFAFAF }
#right-sidebar .box-content { padding: 0 10px 10px; }
#right-sidebar .box h2 { font-size:20px; font-weight:bold; color:#fff; line-height:30px; padding:0 10px 0 19px; margin: 1px 1px 10px; }

#sCategory { width: 302px; font-size: 14px; height:25px !important }
#tAutoComplete { width: 296px; }
#aSearch { float:right; margin-right: 10px }

.added-product, .dRequestItem { padding: 5px 25px 5px 5px; position:relative; }
.added-product a, .dRequestItem a { position: absolute; right: 5px; top: 4px }

div.even { background-color: #E3E3E3 !important; }