/*************************/
/* Emails - Add Template */
/*************************/
td { padding-bottom: 7px; padding-right: 10px; }
#tViewProductButton { border: 1px solid #000; }
#tProductColor { border: 1px solid #000; }
#tPriceColor { border: 1px solid #000; }
#tTemplateImage { border: 1px solid #000; }
#tTemplateImageThumbnail { border: 1px solid #000; }
