/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END RESET ***/

/*** START COMMON ***/

/* Common Styles */
html { border-top: 6px solid #5B666E; }
body { font-family:Arial, Helvetica, sans-serif; font-size:14px; background: #DADFE3 !important; border-top: 1px solid #646F76; }

a { text-decoration:none; }
a:hover { color:#595f65 }
a img { border: none }
.center { text-align: center }

/* Common Classes */
.login-button {
	font-size: 17px;
	font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff !important;
	padding: 5px 20px;

}

input.login-button {
    font-family:Arial, Helvetica, sans-serif;
	margin:0;
	cursor: pointer;
	padding:5px 20px;
}


.float-right { float:right; position:relative }
.tmpval { color: #929292 }


/*** END COMMON ***/

/*** START TEMPLATE SPECIFICS ***/

/* Main Containers */
#login-logo { text-align: center }
#login { width: 310px; margin: 0 auto; background-color: #fff; height: 158px;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#remember-me { position: relative; top: 5px; float: left;}

#lost-your-password { margin-top: 25px }
#lost-your-password a { color: #5B666E; font-size: 12px; }

/***** FORM *****/
input.tb {
	border: 1px solid #B3B3B3;
    font-size: 20px;
    color: #4b4f51;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	height: 25px;
	padding: 7px 10px;
	width: 288px;
    margin-bottom: 21px;
}

.cb { position: relative; top: 3px; }
label { font-size: 12px; color: #5B666E }

/*** Notifications ***/
.sticky p, .floated p, .fixed p, .ondemand p{ text-align: center; padding:0px; margin:0px; margin-left:10px; line-height:45px; color:#fff; font-size:15px; }
.sticky a, .floated a, .fixed a, .ondemand a{ float:right; margin:13px 10px 0px 0px; }

.sticky {
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    border-bottom:3px solid #fff !important;

    background: #91BD09; /* Old browsers */
    background: -moz-linear-gradient(top, #91BD09 0%, #91BD09 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#91BD09, #91BD09 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #91BD09),color-stop(1, #91BD09));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.sticky.error {
    background: #bd2b0b; /* Old browsers */
    background: -moz-linear-gradient(top, #BD2B0B 0%, #BD2B0B 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#BD2B0B, #BD2B0B 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #BD2B0B),color-stop(1, #BD2B0B));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.floated {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    border-bottom:3px solid #fff !important;
    background: #0e59ae; /* Old browsers */
    background: -moz-linear-gradient(top, #0e59ae 0%, #0e59ae 100%); /* FF3.6+ */


    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #0E59AE),color-stop(1, #0E59AE));/* IE6,IE7 */
    -pie-background: linear-gradient(#0E59AE, #0E59AE 100%);
    behavior: url(/resources/PIE.htc);
}

.fixed {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	border-bottom:3px solid #fff !important;

	background: #660099; /* Old browsers */
	background: -moz-linear-gradient(top, #660099 0%, #660099 100%); /* FF3.6+ */

	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-pie-background: linear-gradient(#660099, #660099 100%);
	behavior: url(/resources/PIE.htc);
	-moz-box-shadow: 1px 1px 7px #676767;
	-webkit-box-shadow: 1px 1px 7px #676767;
	box-shadow: 1px 1px 7px #676767;
	height: 45px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #660099),color-stop(1, #660099));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}

.ondemand {
    width:100%;
    border-bottom:3px solid #fff !important;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;

    background: #CC0000; /* Old browsers */
    background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#CC0000, #CC0000 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CC0000),color-stop(1, #CC0000));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.ondemand-button {
    width:40px !important;
    height:40px;
    float:right !important;
    z-index:999;
    position:absolute;
    margin-right:100px!important;
}

.show{
    background: #CC0000; /* Old browsers */
    background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%); /* FF3.6+ */


    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#CC0000, #CC0000 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 35px;
    float: right;
    width: 30px;
    overflow:hidden;
    /*margin-top: 0px !important;*/
    margin-right: 10px !important;
    text-align: center;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CC0000),color-stop(1, #CC0000));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
    /* Opera 10.5, IE 9.0 */
}

.show img{ margin-top:10px; }