/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END RESET ***/

/*** START COMMON ***/

/* Common Styles */
body { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:14px; background-color: #62636A }
h1 { float:left; font-size:30px; color: #404040; }
h2 { font-size:22px; color: #404040; }
h3 { font-size: 18px; color: #404040; }
textarea { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:14px; }
li { padding-bottom: 7px }

a { text-decoration:none; }
a:hover { color:#595f65 }
a img { border: none }

/* Common Classes */
.button {
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #fff !important;
	padding: 5px 30px;
	position: relative;
}

input.button {
	margin:0;
	cursor: pointer;
	padding:6px 10px;
	#padding:2px 10px 2px;
}

.button object { background: transparent; display: inline; position:absolute; }

.hidden, .dialog { display: none }

.col-1 { width: 100% }
.col-1.info-box { width: 97.5% }
.col-2 { width: 50%; }
.float-left { float:left; position:relative }
.float-right { float:right; position:relative }
.float-none { float: none }
.small { font-size: 0.66em }
.big { font-size: 1.5em }
.bold { font-weight: bold }
.text-right { text-align:right; }
.text-center { text-align:center; }
.success, .success p { color: #090 }
.yellow, .warning { color: #FFCF40 }
.alert, .error, .red{ color: #F00; }
.padding-bottom { padding-bottom: 7px }
.image-border { padding: 1px; border: 1px solid #929292 }
.top { vertical-align: top }
.relative { position: relative; }
.clr { clear: both; }

#content p, .boxy-content p { line-height: 19px; padding-bottom: 7px }

/*** END COMMON ***/

/*** START TEMPLATE SPECIFICS ***/

/* Main Containers */
#wrapper { min-height:100%; width:100%; }
#header { height: 82px; background: url(/images/slivers/header.png) 0 100% repeat-x; padding: 0 64px; }

#log-out {
	height:19px; position:absolute; top:10px; right: 64px; font-size: 11px; font-weight: bold;
}

#nav { position: relative; height: 43px; border-bottom: 5px solid; padding: 0 64px; background: url(/images/slivers/navigation.png) 0 0 repeat-x }
#nav-links { height:43px; width: 100%; position:relative; background: url(/images/nav-divider.png) 0 0 no-repeat; }
#nav-links a { position: relative; top: 13px; padding: 12px 22px 26px 20px; color: #676C73; font-size: 17px; font-weight: bold; background: url(/images/nav-divider.png) 100% 0 no-repeat;
    text-shadow: 0px -1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
}

#nav-links a.selected, #nav-links a:hover { color: #fff; background: url(/images/backgrounds/nav-selected.png) 50% 100% no-repeat }
#nav-right { height: 43px; float:right; background: url(/images/nav-divider.png) 0 0 no-repeat; }

#sidebar { margin-top: 47px; width: 150px; background: #282829 url(/images/backgrounds/sidebar.png) 0 0 no-repeat; padding: 5px; position: absolute; }
#sidebar h2 { font-size: 17px; font-weight: bold; color: #fff; text-align: center; padding: 6px 6px 10px }
#actions { border: 1px solid #212121; }

#sidebar a.top { border-top: 1px solid #434547; border-bottom: 1px solid #212121; font-weight: bold; font-size: 14px; color: #F0F5FF; display: block; text-align:center; background-color: #333436; padding: 8px 0 }
#sidebar a.top.last { border-bottom: none !important; }
#sidebar a.top.first { border-top: none !important; }

#sidebar a.sub { border-top: 1px solid; border-bottom: 1px solid; font-weight: bold; font-size: 12px; color: #fff; display: block; text-align: center; padding: 9px 0; }
#sidebar a.sub.first { border-top: 1px solid #434547 !important; }
#sidebar a.sub.last { border-bottom: 1px solid #212121; }

#sidebar a.sub.view { background: url(/images/icons/view.png) 35px 8px no-repeat }
#sidebar a.sub.add { background: url(/images/icons/add.png) 35px 8px no-repeat }
#sidebar a.sub.export { background: url(/images/icons/export.png) 35px 8px no-repeat }
#sidebar a.sub.import { background: url(/images/icons/import.png) 35px 8px no-repeat }

#content { background: #DADFE3; }
#subcontent-wrapper { margin-left: 180px; padding-top: 47px; margin-right: 66px; padding-bottom: 30px; }
#subcontent { border: 1px solid #C7D1D9; background-color: #fff; padding: 30px 20px; }

#footer { margin-top: 26px; text-align: right; padding: 0 64px; }
#footer a { font-weight: bold; font-size: 12px; }
#copyright { float: left; font-size: 11px; font-weight: bold; }

/* Optional */
#tabs { padding-left: 180px; padding-top: 47px; background-color: #DADFE3; }
#tabs .tab-link { position: relative; bottom: 7px; background: url(/images/slivers/tab.png) 0 0 repeat-x; display: inline;border: 1px solid #C7D1D9; border-bottom: none; padding: 6px 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tabs a { font-size: 15px; font-weight: bold; color: #AEB2B8; padding: 5px 10px 14px;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

#tabs a.selected, #tabs a:hover {
    background: url(/images/backgrounds/tab-selected.png) 50% 100% no-repeat;
    color: #828487;
}


/***** Dialogs *****/
.boxy-wrapper { position: absolute; font-size: 14px; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */
.boxy-modal-blackout { position: absolute; background: #000; left: 0; top: 0; }

/* Border */
.boxy-wrapper { 
	border: 10px solid #666;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Title bar */
.boxy-wrapper .title-bar { background: #000; padding: 6px; position: relative; }
.boxy-wrapper .title-bar h2 { font-size: 14px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 14px; line-height: 1; }
	
/* Content Region */
.boxy-inner { overflow: hidden; background-color: white; padding: 0 }
.boxy-content { padding: 15px; }

/* Question Boxes */
.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }
.boxy-content li { padding-bottom: 7px }

/** Tickets */
#ticket { position:fixed; left:0; top: 45%; width:29px; height:108px; background-color: #a5a5a5 }
#ticket:hover { background-color:#8c8c8c }
#aTicket { display: block; width:26px; height:100px; padding: 4px 2px 4px 1px; background: url(/images/backgrounds/support.png) 0 4px no-repeat }
#tTicketSummary{margin-bottom:7px}
#ticket-attachments { display: none; padding-bottom: 7px; border-bottom: 1px solid #929292; position:relative; margin-bottom: 7px }
#ticket-attachments a { position:relative; top: 5px }
#tTicketSummary,#taTicket { font-family: Arial, Helvetica, sans-serif; font-size: 14px }

.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 5px;
	padding: 10px;
	width: 100%;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}

/* Temporary Values */
.tmpval { color: #929292 }
.float-right { float: right }
.clr { clear: both }

/***************/
/* Form Styles */
/***************/
form td { padding: 0 10px 7px 0; }
label { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
input.tb, select {
	border: 1px solid #636363;
	height: 19px;
	padding: 2px;
	width: 263px;
}
.cb { position: relative; top: 3px; }
select { height:23px; width:267px }
select.multiple { height: 150px }
textarea {
	border: 1px solid #636363;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	width: 263px;
}
.top { vertical-align: top }

table.format th { font-weight: bold; }
table.format tr td, table.format tr th{ padding-top: 3px; padding-bottom: 7px; padding-right: 10px; border-bottom: 1px solid #929292 }
table.format tr.last td { border-bottom: 0 }


/***** Data Tables *****/
.TableTools {
	padding: 3px 0 3px 3px;
	border: 1px solid #d0d0d0;
	background-color: #f0f0f0;
	position:absolute;
	right: 0;
}

.TableTools_button {
	position: relative;
	float: left;
	margin-right: 3px;
}

.TableTools_csv {
	background: url(/images/data-tables/csv.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_csv_hover {
	background: url(/images/data-tables/csv_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_xls {
	background: url(/images/data-tables/xls.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_xls_hover {
	background: url(/images/data-tables/xls_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_clipboard {
	background: url(/images/data-tables/copy.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_clipboard_hover {
	background: url(/images/data-tables/copy_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_print {
	background: url(/images/data-tables/print.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_print_hover {
	background: url(/images/data-tables/print_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_PrintInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	padding: 10px 30px;

	opacity: 0.9;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.TableTools_PrintInfo h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.TableTools_PrintInfo p {
	font-size: 14px;
	line-height: 20px;
}


.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: #fff;
	z-index: 9999
}


.dataTables_length { width: 320px; position:absolute; right: 350px; top: 2px }
.dataTables_filter { position: absolute; width: 300px !important; right: 155px; top: 2px; }
.dataTables_info { width: 20%; padding-right: 20px; }

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	position:relative; bottom: 2px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url(/images/data-tables/back-disabled.png);
}

.paginate_enabled_previous {
	background-image: url(/images/data-tables/back-enabled.png);
	cursor: pointer;
}

.paginate_disabled_next {
	background-image: url(/images/data-tables/forward-disabled.png);
}

.paginate_enabled_next {
	background-image: url(/images/data-tables/forward-enabled.png);
	cursor: pointer;
}

.dataTables_info, .dataTables_paginate {
	float: right;
	text-align:right;
}

.dataTables_empty {
	text-align: center;
}

.dataTables_wrapper { padding: 1px; background:#fff; border: 1px solid #b5b5b9; position: relative;  }
.dataTables_wrapper .top { position:absolute; width: 100%; top: -50px;}
.dataTables_filter input {
	font-size: 12px; padding: 8px 11px 9px; border: 1px solid #c8d2d6; width: 217px; color: #808b9d; font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dataTables_length select { padding: 7px 5px 7px 17px; width: 148px; height: 35px; border: 1px solid #c8d2d6; font-size: 12px; font-weight: bold; color: #808b9d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dataTables_length option {
	padding: 7px 17px;
}

.dt {empty-cells:show; word-wrap:break-word; background:#fff; clear:left;}
.dt th, .dt td { font-weight: bold; vertical-align:middle; }
.dt th { font-size: 14px; background: #8F919B; color:#fafafa; line-height:26px; padding-bottom: 0; cursor:pointer; padding: 1px 0 1px 10px; position:relative; }
.dt th img { float: right; margin: 8px 5px 0 0; }
.dt th.sorting_asc img { background: #8F919B url(/images/backgrounds/tickets/arrow-up.png) 0 0 no-repeat }
.dt th.sorting_desc img { background: #8F919B url(/images/backgrounds/tickets/arrow-down.png) 0 0 no-repeat }
.bottom { position: relative; top: 7px }

.dt td { font-size: 14px; color:#5f5f66; vertical-align: top; padding: 7px 0 10px 10px; border-top: 1px solid #fff; border-bottom: 1px solid #d5d5da; font-weight: normal }
.dt tr.last td { border-bottom: 0 }
.dt tr.odd, .dt tr.odd td{ background:#fff; }
.dt tr.even, .dt tr.even td { background: #f2f3f5 }
.dt .actions { margin-top: 5px; }

.generic th, .generic td { border: 1px solid #BCBCBC; border-bottom: 0 !important;  padding: 3px 5px }
.generic th { font-weight: bold }
.generic tr.last td { border-bottom: 1px solid #BCBCBC !important }
