/*******************/
/* Requests - View */
/*******************/

#subcontent td, #subcontent td a, #subcontent td a:link { padding-right: 10px; padding-bottom: 10px; vertical-align: top; line-height: 17px; }

td.changed { border: 1px solid #CC2222; }
td.original { border: 1px solid #FFA000; }
td.changed, td.original { padding: 5px 10px; }

a.original, a.requested { line-height: 25px; }
a.original { color: #FFA000; }
a.requested { color: #CC2222; }

span.red { color: #ff1111; }
span.orange { color: #ffa500; }
span.green { color: #9cbe0a; }

th { font-weight: bold; text-align:left; padding-bottom: 7px; }

#dMessages{ display: block; }
#dMessageList .dMessage {
	display: block;
	border-bottom-color: #EEEEEE;
	border-bottom-style:  solid;
	border-bottom-width: 1px;
	padding-top: 5px;
	padding-bottom: 20px;
	clear:left;
}
#dMessageList {
	display: block;
}
#dMessageList .dMessage .title { width: 125px; display: inline-block; line-height: 18px; }
#dMessageList .dMessage .msg { width:auto; display:inline-block; }
#fNewMessage{ margin-left: 125px; }