/************************/
/* Products  - Add/Edit */
/************************/
.page-content { margin-right: 325px; padding: 0 5px }
.page-content h2 { margin-top: 24px; font-size: 19px;line-height: 25px;padding-bottom: 2px;color: #616268;}
.divider { width: 100%; height:1px; background-color: #D3D3D3; margin-top: 22px; }
#fAddEdit td { padding-bottom: 7px }
#fAddEdit td.last { padding-bottom: 0 }
#taDescription { width: 100% }

#ui-datepicker-div { display: none }

#right-sidebar {width: 306px; float:right; margin: 0 5px}
#right-sidebar .box { width: 306px;  margin-bottom: 10px; border: 1px solid #AFAFAF }
#right-sidebar .box-content { padding: 0 10px 10px; }
#right-sidebar .box h2 { font-size:20px; font-weight:bold; color:#fff; line-height:30px; padding:0 10px 0 19px; margin: 1px 1px 10px; }

div.even { background-color: #E3E3E3 !important; }

/** Step: 2: Upload Images **/
.product-image, .image-placeholder { float:left; text-align:center; width: 50px; margin-right: 40px; height: 80px; padding-bottom: 10px; }
.product-image { cursor: w-resize; }
.image-placeholder { border: 1px dashed #C8C8C8; padding-bottom: 0; margin-bottom: 10px; }
.product-image img { padding-bottom: 3px; }
.product-image a { font-size: 12px; font-weight: bold; line-height: 23px; text-align:center; }
#dUploadedImages { margin-top: 32px }
#fUploadImagesUploader { margin-top: 30px; }
#fUploadImagesQueue { display:none !important; }

/***** Add Products *****/
#tName {
	width:100%; height: 30px; font-size: 18px; padding: 2px 2px 0;
	border: 1px solid #636363;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
#dNameContainer { margin: 0 6px 10px 0; line-height: 1px; }

#sProductCategory, #sAttributes { width: 100%; }
#sAttributes { height: 100px }
#sAttributes optgroup option { margin-left: 15px; }
.product-category, .product-tag, .brand, .attribute { padding: 5px; margin-bottom: 3px; position:relative; }
.product-category a, .product-tag a, .specification-value a, .list-item a, .brand a, .attribute a { position: absolute; right: 3px; top: 3px; }
.list-item { background-color: #FFFFFF; }
.box-action { padding: 20px 5px 0; position: relative; padding-bottom:0; text-align:right; }

#tAddTags { width: 279px; margin: 0 0 5px; }

#dProductSlug { margin-top: 10px; margin-bottom:10px; display:block; }
#dProductSlug span { display:inline-block; }
#tProductSlug { border: 1px solid #D4D0C8; width: 100px; margin: 0 2px; }

img.ui-datepicker-trigger { float:left; cursor: pointer; position:absolute; right: 0; top: 4px; }
.date-container { position:relative; padding-right: 20px; }

/***** Specifications *****/
#dSpecificationsList{ width:100%; margin-top: 5px; }
.specification { float:left; width: 100%; cursor: n-resize; margin: 1px; }
.specification.blank { height: 20px; }
.specification:hover { border: 1px solid; margin:0; }
.specification a { float: right; position:relative; top: 4px; right: 5px; }
.specification-name{ width: 49%; float:left; padding: 6px 0 6px 5px; margin-right: 2%; }
.specification-value{ float:left; padding: 6px 5px 6px 0; }
.spec-placeholder, .dd-placeholder { border: 1px dashed; background-color: #FFFFFF; height:28px; float:left; width: 100%;  }
#tAddSpecName, #taAddSpecValue { float:left; width: 132px !important; font-family: Arial, Helvetica, sans-serif; }
#tAddSpecName { margin-top: 1px }
#taAddSpecValue {  height: 19px; overflow:hidden; font-size: 13px; }

/***** Brands *****/
#sBrands { width: 100%; margin-bottom: 5px; }
#pAddBrand { text-align: right; padding:0; margin: 5px 5px 7px; }

#dBasicProductInfo input { width: 50%; }
#dBasicProductInfo td { padding-bottom: 7px; }