/*************/
/* Dashboard */
/*************/
#nav-icons a { text-align:center; display: block; width:150px; float:left; font-size: 14px; font-weight: bold; color: #999; margin-right: 20px }
#nav-icons a img { padding-bottom: 10px }

#nav-icons img{width:130px; height:112px; margin-bottom: 10px; background: url(http://account.imagineretailer.com/images/icons/dashboard.gif) 0 0 no-repeat }

#website img { background-position: 10px 0 }
#website:hover img { background-position: 10px -128px }

#products img { background-position: -120px 0 }
#products:hover img { background-position: -120px -128px }

#blog img { background-position: -385px 0 }
#blog:hover img { background-position: -385px -128px }

#email-marketing img { background-position: -515px 0; }
#email-marketing:hover img { background-position: -515px -128px }

#shopping-cart img { background-position: -645px 0; }
#shopping-cart:hover img { background-position: -645px -128px }

#analytics img { background-position: -255px 0; }
#analytics:hover img { background-position: -255px -128px }

#craigslist img { background-position: -773px 0; }
#craigslist:hover img { background-position: -773px -128px }

#social-media img { background-position: -903px 0; }
#social-media:hover img { background-position: -903px -128px }