/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight:inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	color: #595F65;
}
strong{font-weight:bold;}
em {font-style:italic;}

/* remember to define focus styles! */
a, a:focus, a:active, a:visited, input:focus {
	outline:none;
}
body {
	line-height: 1;
	color: #595F65;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Common Styles */
body { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:14px; background-color: #62636A }
h1 { float:left; font-size:30px; color: #404040; }
h2 { font-size:22px; color: #404040; }
h3 { font-size: 18px; color: #404040; }
textarea { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:14px; }
li { padding-bottom: 7px }

a { text-decoration:none; }
a:hover { color:#595f65 }
a img { border: none }

/* Main Containers */
#wrapper { min-height:100%; width:100%; }
#header { height: 108px; border-bottom: 1px solid #fff; background: #fff url(/images/slivers/header.png) 0 100% repeat-x; padding: 0 20px; }
#links { position: absolute; top: 44px; right: 20px; font-weight: bold }

/* Navigation */
#nav { position: relative; height: 33px; border-top: 1px solid #B0B0B0; border-bottom: 5px solid #222; padding: 0 20px; background: url(/images/slivers/navigation.png) 0 0 repeat-x }
#nav-links { height:33px; width: 65%; position:relative; float:left }
#nav-links a, #nav-links input.link { 
	position: relative; top: 9px; border: 1px solid transparent; border-bottom: 0 !important; padding: 3px 5px 9px; color: #fff; font-size: 14px; font-weight: bold; background: transparent;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#nav-links form { display: inline }
#nav-links input.link { top: 4px }
#nav-links a.selected, #nav-links a:hover, #nav-links input.link:hover { border: 1px solid #414141; background: url(/images/slivers/button.png) 0 0 repeat-x; color: #fff }

#aLogout { 
	height:19px; padding: 4px 24px 0; background: url(/images/slivers/logout.png) 0 0 repeat-x; border: 1px solid #000; position:absolute; top:0; right: 20px; color: #fff; font-size: 12px; font-weight: bold;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

/* Site Info */
#site { border-left: 1px solid #000; float:right; padding: 14px 0 0 20px; height:24px }
#site img { padding-right: 10px }
#site a { color: #fff; font-weight: bold; font-size: 15px; position: relative; bottom: 5px }
#site .highlight { color: #ffe0ab; position:relative; bottom: 5px; font-weight: bold }
#site a .highlight { bottom: 0 }

/* Content */
#content { padding: 22px 42px; background: #fff url(/images/slivers/content.png) 0 100% repeat-x; border-bottom: 2px solid #fff }
#description { margin-left: 14px; padding-left: 13px; line-height: 19px; font-size: 15px; font-weight: bold; float:left; border-left: 1px solid #737373; color: #737373 }

/* Siderbar */
#sidebar { width: 200px; border: 1px solid #AFAFAF; position: absolute; }
#sidebar h2 { border: 1px solid #E9E9E9; border-bottom: none !important; font-size: 20px; font-weight: bold; color: #fff; text-align: center; padding: 6px }
#sidebar a.top { border-top: 1px solid #F6F6F6; border-bottom: 1px solid #D7D7D7; font-weight: bold; font-size: 16px; color: #606060; display: block; text-align:center; background-color: #E9E9E9; padding: 9px 0 10px }
#sidebar a.sub { border-top: 1px solid #C8C8C8; border-bottom: 1px solid #9D9D9D; font-weight: bold; font-size: 13px; color: #fff; display: block; text-align: center; background-color: #A8A8A8; padding: 10px 0 11px; }
#sidebar a.sub.first { border-top: 1px solid #F6F6F6; }
#sidebar a.last { border-bottom: none !important; }

#sidebar a.sub.view { background: #A8A8A8 url(/images/icons/view.png) 55px 9px no-repeat }
#sidebar a.sub.add { background: #A8A8A8 url(/images/icons/add.png) 55px 9px no-repeat }
#sidebar a.sub.export { background: #A8A8A8 url(/images/icons/export.png) 55px 9px no-repeat }
#sidebar a.sub.import { background: #A8A8A8 url(/images/icons/import.png) 55px 9px no-repeat }

#subcontent { margin: 10px 0 0 220px }

/* Footer */
#footer { padding-top: 19px; text-align:center }
#footer p, #footer a, #copyright { color: #9A9CA6; font-weight: bold }
#footer a { padding: 0 2px; }
#footer a:hover { color: #fff }

#copyright { font-size: 11px }

/* Classes */
.button {
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #fff !important;
	padding: 5px 30px;
	position: relative;
}

input.button {
	margin:0;
	cursor: pointer;
	padding:6px 10px;
	#padding:2px 10px 2px;
}

.button object { background: transparent; display: inline; position:absolute; }

.hidden, .dialog { display: none }

.col-1 { width: 100% }
.col-1.info-box { width: 97.5% }
.col-2 { width: 50%; }
.float-left { float:left; position:relative }
.float-right { float:right; position:relative }
.float-none { float: none }
.small { font-size: 0.66em }
.big { font-size: 1.5em }
.bold { font-weight: bold }
.text-right { text-align:right; }
.text-center { text-align:center; }
.success, .success p { color: #090 }
.alert, .error{ color: #F00; }
.padding-bottom { padding-bottom: 7px }
h2.title { font-size: 19px; font-weight: bold; padding-bottom: 7px; }
h2.title label { font-size: 19px }
.image-border { padding: 1px; border: 1px solid #929292 }
.top { vertical-align: top }
.relative { position: relative; }
.clr { clear: both; }

#content p, .boxy-content p { line-height: 19px; padding-bottom: 7px }

/* Info Boxes */
.info-box { border: 1px solid #e3e3e3; position: relative; width:95%;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.info-box-title { margin: 1px; background-color: #78787a; color: #fff; padding: 6px 0 0 10px; font-size: 17px; font-weight: bold; }
.info-box-content { padding: 10px }

/* Form Styles */
form td, form th, .form td, .form th { padding: 0 10px 7px 0; font-size: 14px }
.form td.top { vertical-align:top }
label, span.label { font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
td label, span.label { font-weight: bold; }
input.tb, select { 
	border: 1px solid #636363;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 19px;
	padding: 2px;
	width: 263px;
}
textarea {	
	border: 1px solid #636363;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	width: 263px;
}
.cb, .rb { position: relative; top: 2px; }
select { height:23px; width:267px }
td.title { padding-bottom:10px }
td.title strong { font-size: 20px }

/* Temporary Values */
.tmpval { color: #999 }

/***** Data Tables *****/
.TableTools {
	padding: 3px 0 3px 3px;
	border: 1px solid #d0d0d0;
	background-color: #f0f0f0;
	position:absolute;
	right: 0;
}

.TableTools_button {
	position: relative;
	float: left;
	margin-right: 3px;
}

.TableTools_csv {
	background: url(/images/data-tables/csv.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_csv_hover {
	background: url(/images/data-tables/csv_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_xls {
	background: url(/images/data-tables/xls.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_xls_hover {
	background: url(/images/data-tables/xls_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_clipboard {
	background: url(/images/data-tables/copy.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_clipboard_hover {
	background: url(/images/data-tables/copy_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_print {
	background: url(/images/data-tables/print.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_print_hover {
	background: url(/images/data-tables/print_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_PrintInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	padding: 10px 30px;
	
	opacity: 0.9;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.TableTools_PrintInfo h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.TableTools_PrintInfo p {
	font-size: 14px;
	line-height: 20px;
}


.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: #fff;
	z-index: 9999
}


.dataTables_length { width: 320px; position:absolute; right: 350px; top: 2px }
.dataTables_filter { position: absolute; width: 300px !important; right: 155px; top: 2px; }
.dataTables_info { width: 20%; padding-right: 20px; }

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	position:relative; bottom: 2px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url(/images/data-tables/back-disabled.png);
}

.paginate_enabled_previous {
	background-image: url(/images/data-tables/back-enabled.png);
	cursor: pointer;
}

.paginate_disabled_next {
	background-image: url(/images/data-tables/forward-disabled.png);
}

.paginate_enabled_next {
	background-image: url(/images/data-tables/forward-enabled.png);
	cursor: pointer;
}

.dataTables_info, .dataTables_paginate {
	float: right;
	text-align:right;
}

.dataTables_empty {
	text-align: center;
}

.dataTables_wrapper { padding: 1px; background:#fff; border: 1px solid #b5b5b9; position: relative;  }
.dataTables_wrapper .top { position:absolute; width: 100%; top: -50px;}
.dataTables_filter input {
	font-size: 12px; padding: 8px 11px 9px; border: 1px solid #c8d2d6; width: 217px; color: #808b9d; font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dataTables_length select { padding: 7px 5px 7px 17px; width: 148px; height: 35px; border: 1px solid #c8d2d6; font-size: 12px; font-weight: bold; color: #808b9d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dataTables_length option {
	padding: 7px 17px;
}

.dt {empty-cells:show; word-wrap:break-word; background:#fff; clear:left;}
.dt th, .dt td { font-weight: bold; vertical-align:middle; }
.dt th { font-size: 14px; background: #8F919B; color:#fafafa; line-height:26px; padding-bottom: 0; cursor:pointer; padding: 1px 0 1px 10px; position:relative; }
.dt th img { float: right; margin: 8px 5px 0 0; }
.dt th.sorting_asc img { background: #8F919B url(/images/backgrounds/tickets/arrow-up.png) 0 0 no-repeat }
.dt th.sorting_desc img { background: #8F919B url(/images/backgrounds/tickets/arrow-down.png) 0 0 no-repeat }
.bottom { position: relative; top: 7px }

.dt td { font-size: 14px; color:#5f5f66; vertical-align: top; padding: 7px 0 10px 10px; border-top: 1px solid #fff; border-bottom: 1px solid #d5d5da; font-weight: normal }
.dt tr.last td { border-bottom: 0 }
.dt tr.odd, .dt tr.odd td{ background:#fff; }
.dt tr.even, .dt tr.even td { background: #f2f3f5 }
.dt .actions { margin-top: 5px; }

.generic th, .generic td { border: 1px solid #BCBCBC; border-bottom: 0 !important;  padding: 3px 5px }
.generic th { font-weight: bold }
.generic tr.last td { border-bottom: 1px solid #BCBCBC !important }

/***** Dialogs *****/
.boxy-wrapper { position: absolute; font-size: 14px; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */
.boxy-modal-blackout { position: absolute; background: #000; left: 0; top: 0; }

/* Border */
.boxy-wrapper { 
	border: 0;
}

/* Title bar */
.boxy-wrapper .title-bar {
    background: #B0B0B0; padding: 6px; position: relative;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.boxy-wrapper .title-bar h2 { font-size: 20px; color: #fff; line-height: 1; margin: 0; padding: 9px 40px 9px 9px; font-weight: bold; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 14px; line-height: 1; }
.boxy-wrapper .title-bar .close img {  position: relative; right: 15px; top: 12px; }

/* Boxy Footer */
.boxy-footer {
    background: #B0B0B0; padding: 15px 20px; height: 34px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.boxy-footer a.close { color: #fff; font-size: 15px; font-weight: bold; position: relative; top: 10px; }

.boxy-footer a.button { position: relative; top: 10px }
.boxy-footer .button { background: url(/images/slivers/grey-button.png) 0 0 repeat-x; height: 32px;
    border: 1px solid #A1A1A1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
   -o-box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
}

.boxy-footer input.button { padding-top: 3px; height: 35px }

/* Content Region */
.boxy-inner { overflow: hidden; padding: 0 }
.boxy-content { padding: 15px; background-color:  #fff }
.boxy-content h3 { font-size: 13px; font-weight: bold; color: #333; border-bottom: 1px solid #B3B3B3; position: relative; padding-bottom: 4px; margin-bottom: 7px; }
.boxy-content .tb, .boxy-content textarea { font-size: 15px; border: 1px solid #B3B3B3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Question Boxes */
.boxy-content li { padding-bottom: 7px }

/** Tickets */
#ticket { position:fixed; left:0; top: 45%; width:29px; height:108px; background-color: #a5a5a5 }
#ticket:hover { background-color:#8c8c8c }
#aTicket { display: block; width:26px; height:100px; padding: 4px 2px 4px 1px; background: url(/images/backgrounds/support.png) 0 4px no-repeat }
#tTicketSummary{margin-bottom:7px}
#ticket-attachments { display: none; padding-bottom: 7px; border-bottom: 1px solid #929292; position:relative; margin-bottom: 7px }
#ticket-attachments a { position:relative; top: 5px }
#sChecklistItems { height: 100px; width: 100% }
.expander { position: absolute; right: 0; bottom: 0; background: url(/images/icons/expand-contract.png) 0 0 no-repeat; width: 27px; height: 19px; }
.expander.close { background: url(/images/icons/expand-contract.png) 0 -19px; no-repeat; }

#tTicketSummary, #taTicket { width: 450px !important }

.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 2px solid #E5E5E5;
	background-color: #F5F5F5;
	margin-top: 5px;
	padding: 10px;
	width: 100%;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}

/** Date Picker is glitching, need to hide this **/
#ui-datepicker-div { display: none }