#subcontent-wrapper { margin-left: 20px }
#subcontent { position: relative }
#breadcrumb {
    border: 1px solid #c7d1da; border-bottom: 0; padding: 9px; display: inline; position: relative; bottom: 10px;
    -webkit-border-top-left-radius: 7px 4px;
    -webkit-border-top-right-radius: 7px 4px;
    -moz-border-radius-topleft: 7px 4px;
    -moz-border-radius-topright: 7px 4px;
    border-top-left-radius: 7px 4px;
    border-top-right-radius: 7px 4px;
    background-image: linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -o-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -moz-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -ms-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.08, rgb(217,218,222)),
    	color-stop(0.54, rgb(240,241,243))
    );

    -moz-box-shadow: inset 0 1px 0px #fcfcfe;
    -webkit-box-shadow: inset 0 1px 0px #fcfcfe;
    box-shadow: inset 0 1px 0px #fcfcfe;
}

#breadcrumb a, #breadcrumb { color: #828387; font-weight: bold; }
#breadcrumb .last { color: #000 }
aside { width: 198px; position: absolute; right: 0; top: 0; min-height: 100%; border-left: 1px solid #313131; border-right: 1px solid #313131; background-color: #333436; }
aside header { color: #c6cdd5; padding: 10px 5px; font-weight: bold; border-top: 1px solid #212121; border-bottom: 1px solid #212121; }
section { margin-right: 210px; }

#helpful {
    position: relative; color: #fff; right: 31px; width: 170px; padding: 11px 15px 3px; font-size: 16px; border-right: 1px solid #b6bbbf; height: 40px;
    background-image: linear-gradient(bottom, rgb(122,131,138) 16%, rgb(162,169,175) 58%);
    background-image: -o-linear-gradient(bottom, rgb(122,131,138) 16%, rgb(162,169,175) 58%);
    background-image: -moz-linear-gradient(bottom, rgb(122,131,138) 16%, rgb(162,169,175) 58%);
    background-image: -webkit-linear-gradient(bottom, rgb(122,131,138) 16%, rgb(162,169,175) 58%);
    background-image: -ms-linear-gradient(bottom, rgb(122,131,138) 16%, rgb(162,169,175) 58%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.16, rgb(122,131,138)),
    	color-stop(0.58, rgb(162,169,175))
    );
}
#helpful-bar { width: 5px; background-color: #767d83; position: absolute; height: 54px; right: 0; top: 0; }
#helpful-fade { background: url(/images/kb/article/helpful.png); width: 10px; height: 7px; position: absolute; left: 0; top: 54px; }
#helpful p { line-height: 13px; }
#helpful a { color: #fff; font-weight: bold }
#helpful a:hover { color: #292929; }
#thanks { line-height: 17px !important; position: relative; bottom: 2px; }