#subcontent-wrapper { margin-left: 20px }
#subcontent { position: relative }
#breadcrumb {
    border: 1px solid #c7d1da; border-bottom: 0; padding: 9px; display: inline; position: relative; bottom: 10px;
    -webkit-border-top-left-radius: 7px 4px;
    -webkit-border-top-right-radius: 7px 4px;
    -moz-border-radius-topleft: 7px 4px;
    -moz-border-radius-topright: 7px 4px;
    border-top-left-radius: 7px 4px;
    border-top-right-radius: 7px 4px;
    background-image: linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -o-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -moz-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);
    background-image: -ms-linear-gradient(bottom, rgb(217,218,222) 8%, rgb(240,241,243) 54%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.08, rgb(217,218,222)),
    	color-stop(0.54, rgb(240,241,243))
    );

    -moz-box-shadow: inset 0 1px 0px #fcfcfe;
    -webkit-box-shadow: inset 0 1px 0px #fcfcfe;
    box-shadow: inset 0 1px 0px #fcfcfe;
}

#breadcrumb a, #breadcrumb { color: #828387; font-weight: bold; }
#breadcrumb .last { color: #000 }

h1 { margin-bottom: 10px; font-size: 42px; line-height: 42px; font-weight: bold; }
p.title { font-size: 21px; line-height: 25px !important; }
h1, h2, h3, p { margin-left: 20px; }
p { margin-bottom: 10px; }
h2 { padding-bottom: 20px; font-size: 24px; }
ul li { margin-left: 25px; list-style: disc }
ol li { line-height: 19px; font-size: 16px; font-weight:  bold }

#content{ padding-top: 20px }
#kb-search { margin-left: 20px; height: 35px; background-color: #fff; width: 440px; position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#kb-search img { position: relative; }
#kbs { border: 0; height: 20px; padding: 7px 10px 8px 0;position: relative; bottom: 13px;  width: 300px; font-size: 14px; }
#kbs-button {
    width: 74px; height: 35px; padding-bottom: 3px; position: relative; bottom: 12px; color: #828487; cursor: pointer; font-weight: bold; font-size: 15px;
    -moz-box-shadow: inset 0 1px 0 #737677;
    -webkit-box-shadow: inset 0 1px 0 #737677;
    box-shadow: inset 0 1px 0 #737677;

    background-image: linear-gradient(bottom, rgb(36,37,37) 37%, rgb(63,65,66) 69%);
    background-image: -o-linear-gradient(bottom, rgb(36,37,37) 37%, rgb(63,65,66) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(36,37,37) 37%, rgb(63,65,66) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(36,37,37) 37%, rgb(63,65,66) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(36,37,37) 37%, rgb(63,65,66) 69%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.37, rgb(36,37,37)),
    	color-stop(0.69, rgb(63,65,66))
    );

    border: 0;
    border-top: 1px solid #3f4142;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#kbs-button:hover { color: #fff }
section { width: 100%; margin-right: 0 !important; }

#browser-background { float: right; position: relative; left: 20px; max-width: 50%; }

div.browser {
    width: 25%; text-align: center; float: left; padding-top: 4px;
    -moz-box-shadow: inset 1px 0 0 #bbb;
    -webkit-box-shadow: inset 1px 0 0 #bbb;
    box-shadow: inset 1px 0 0 #bbb;
}
.browser a.img { display: block; margin: 0 auto 6px }
#ie a.img { width: 60px; }
#firefox { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none }
#firefox a.img { width: 64px; }
#chrome a.img { width: 62px; }
#safari a.img { width: 58px; }
.browser a { font-weight:  bold; font-size: 17px; color: #47659a }
.browser p { margin-top: 12px; font-size: 15px; font-weight: bold; }
#safari { border-right: 0 }

hr { color: #ced7de; }
a.tab { font-weight:  bold; color: #828487; }
.tab.selected { font-size: 1.5em; color: #000 }
.tab:hover { color: #000 }

/** Browser Cache */
#bc-tabs, #cookies-tabs { width: 66.66% }
#bc-tabs .tabs, #cookies-tabs .tabs { margin-left: 15px; margin-bottom: 15px; }
#bc-tabs ol li, #cookies-tabs ol li { margin-left: 15px; }
#browser-cache h2 { background: url(/images/kb/icons/trash-can.png) 0 0 no-repeat; padding-left: 34px; padding-top: 3px;  }

/** Cookies */
#browser-cookies h2 { background: url(/images/kb/icons/cookie.png) 0 0 no-repeat; padding-left: 40px; padding-top: 3px;  }

/** Browsers */
#browsers h2 { background: url(/images/kb/icons/download.png) 0 0 no-repeat; padding-left: 38px; padding-top: 3px;  }

p.note { padding: 10px 20px; background-color: #EDF3FE; width: 50%; margin: 0 auto; text-align: center; font-size: 12px; line-height: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/** Internet Connection */
#internet-connection h2 { background: url(/images/kb/icons/internet-connection.png) 0 0 no-repeat; padding-left: 35px; padding-top: 3px;  }
h3 { font-size: 16px; line-height: 27px; font-weight: bold; margin-bottom: 10px }

#help { font-size: 16px; font-weight: bold; }