/* Brands */
#product-options-list { margin-top: 7px }
.product-option { height: 19px; margin-bottom: 7px; width: 368px; border: 1px solid #b3b3b3; padding: 9px 8px 4px; position:relative; }
.delete-product-option { position: absolute; right: 5px; top: 8px; }