#images-list .image {
  float: left;
  position: relative;
}
#images-list .image a.remove-image {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
  display: none;
}
#images-list .image:hover a.remove-image {
  display: block;
}
#upload-image {
  position: absolute;
  left: -5000px;
}
#sAttributes {
  font-size: 12px;
  min-height: 200px;
}
