/***********/
/* Banners */
/***********/
.contact-box, .box-placeholder { 
	width: 680px; padding:10px; position:relative;
	border: 1px #D9D9D9 solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: n-resize
}
.contact-box form { display: inline }
.contact-box.disabled, .contact-box.disabled .tb { background-color: #9C9C9C }
.contact-box.disabled h2, .contact-box.disabled p { color: #7F7F80 }

.contact-box h2 { font-size: 16px; font-weight: bold }
.contact-box small { padding-bottom: 5px; font-size: 11px }

.enable-disable { background: url(/images/buttons/website/show-hide.png) 0 -25px no-repeat; width: 76px; height:25px; position: absolute; top: 12px; right: 11px }
.enable-disable.disabled { background-position: 0 0 }

.box-divider { height: 18px; width:680px; padding: 0 10px; background:url(/images/divider.png) center center no-repeat }
.box-placeholder { border-style:dashed }

.remove { float:right; position:relative; right: 2px; top: 3px }
