.adv-table .dataTables_wrapper .row:first-child .col-xs-6:first-child {
  visibility: hidden;
}
.adv-table .dataTables_wrapper .row:first-child .dataTables_filter {
  padding: 15px 0 10px 0;
}
#ticket-container {
  position: relative;
}
#ticket-container #ticket-filter {
  position: absolute;
  z-index: 1000;
  left: 250px;
  top: 30px;
}
@media (max-width: 1120px) {
  #ticket-filter {
    position: static!important;
  }
}
@media (max-width: 960px) {
  .adv-table {
    margin-top: 0;
  }
  .adv-table .dataTables_wrapper .row:first-child .col-xs-6:first-child {
    display: none;
  }
  .adv-table .dataTables_wrapper .row:first-child > div {
    width: 100%;
  }
  .adv-table .dataTables_wrapper .row:first-child > div .dataTables_filter {
    width: 100%;
    float: none;
  }
  .adv-table .dataTables_wrapper .row:first-child > div .dataTables_filter label {
    float: left;
  }
  .adv-table .dataTables_wrapper .row:first-child > div .dataTables_filter label input {
    margin: 0;
    float: none;
  }
}
@media (max-width: 767px) {
  .dataTables_wrapper .row:first-child .col-xs-6:first-child {
    display: none;
  }
  .dataTables_wrapper .row:first-child .dataTables_filter input {
    float: left;
    width: 100%!important;
    margin: 0;
  }
}
