table.formatted select { margin-top: 3px; margin-bottom: 6px }
h2 { margin-bottom: 20px; }
blockquote { margin-left: 1px; }

/*** Comments ***/
.comment { margin: 10px 10px 20px 0; clear:left; position:relative; color: #4B4F51 }
.comment br { clear: both }
.comment .name { font-weight: bold; background-color: #F5F5F5; border: 1px solid #DDE3E8; padding: 9px 11px 5px; height: 23px; line-height: 19px; margin-bottom: 14px; color: #4B4F51 }
.private { position: relative; top: 2px; margin-right: 5px }
.comment .date { font-weight: normal; margin-left: 11px; }
.divider { clear: both; height: 1px; background-color: #E3E3E3; margin: 0 10px }
.delete-comment { position: absolute; top: 12px; right: 12px; }
.comment .message { font-size: 14px; color: #4B4F51; margin-left: 7px; }
.comment a { color: #4B4F51 }

#comment { width: 100%; height: 19px; padding: 7px 8px 6px; margin-bottom: 14px; }
#add-comment { float:right; margin: 3px 10px 0; padding: 0 20px; line-height: 29px; }
#private-wrapper { float:right; margin: 8px 10px 0; }
#private-wrapper input { position: relative; top: 2px }
#comment-wrapper { margin-right: 18px; }
#comments-divider { margin-top: 10px }

/** Attachments */
.attachment { position: relative; width: 350px }
.remove-attachment { position: absolute; right: 0; top: 2px; }

.attachments { margin-top: 14px }
.attachments a { font-size: 11px; padding-left: 21px; background: url(/images/icons/tickets/download.gif) 0 5px no-repeat; display: block; line-height: 26px; }