#checklist-section { position: relative; }
.section { border: 1px solid transparent; position: relative; margin-top: 10px; }
.section-placeholder { border: 1px dashed #ccc; width: 565px; position: relative; margin-left: 21px; height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#add-section, .section-title { font-size: 18px; margin-left: 21px;line-height: 20px; width: 580px !important; border: 0 !important; padding-left: 0 !important; }
.section-items { margin-top: 8px }
.add-section-item { margin-left:  21px; position: relative; top: 10px; }

.item {
	display: block;
	height: 22px;
    padding:  5px 0 5px 21px;
	margin-bottom: 3px;
}

.remove-item { position: relative; top: 2px; }
.remove-section { position: relative; top: 2px; left: 2px }

.item-placeholder { width: 565px; margin: 5px 0 5px 21px; border: 1px dashed #ccc; height: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.item-name { width: 350px !important }
.item-assigned-to { width: 200px !important }