#sparklines .data, #dSpecifics .data, #emails .data { font-size: 20px; color:#FFA900;position:relative; bottom: 12px; }
#sparklines .label, #dSpecifics .label, #emails .label { font-size: 17px; position:relative; bottom: 13px; }
#sparklines .data, #sparklines .label, #dTrafficSourcesBox .data, #dTrafficSourcesData .label, #dSpecifics .data, #dSpecifics .label, #emails .data, #emails .label{ font-weight: bold; }
#emails td { height: 36px }
#dSmallContainer a.sparkline{ float:left }
#dSmallContainer span.data { padding-left: 10px }
#dSmallContainer span { position:relative; top: 12px; }
#dSmallContainer p { clear:left; position: relative; height: 56px; }
#dTrafficSourcesData p.blue-marker { background: url(/images/analytics/blue.gif) 0 4px no-repeat; position:relative; }
#dTrafficSourcesData p.green-marker { background: url(/images/analytics/green.gif) 0 4px no-repeat; }
#dTrafficSourcesData p.orange-marker { background: url(/images/analytics/orange.gif) 0 4px no-repeat; }
#dTrafficSourcesData p.yellow-marker { background: url(/images/analytics/yellow.gif) 0 4px no-repeat; }

#dTrafficSources { float:left; }
#dTrafficSourcesData { float:left; padding-left: 20px; }
#dTrafficSourcesData p { padding-bottom: 7px; line-height: 17px; padding-left: 14px; }
#dTrafficSourcesData .label { font-size: 12px; }
#dTrafficSourcesData .data { font-size: 11px; color: #616268; font-weight: normal; }
.pie-chart-container { width: 150px; height: 150px; float:left;position:relative;bottom: 30px; right: 30px; }

.tooltipHover { line-height: 17px; border:1px solid #8e8e8e; position:absolute; background-color: #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	-o-box-shadow: 1px 1px 2px #B8B8B8;
	-icab-box-shadow: 1px 1px 2px #B8B8B8;
	-khtml-box-shadow: 1px 1px 2px #B8B8B8;
	-moz-box-shadow: 1px 1px 2px #B8B8B8;
	-webkit-box-shadow: 1px 1px 2px #B8B8B8;
	box-shadow: 1px 1px 2px #B8B8B8;

}
.tooltipHover span { font-weight: bold; display: block; padding: 2px 3px 1px; }
.tooltipHover .date { font-size: 12px; }
.tooltipHover .label { color: #fefeff; font-size: 16px; background-color: #ffa200; border-top: 1px solid #fc0; padding-top: 1px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	-khtml-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	-khtml-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.tooltipHover .label strong { color: #fefeff }

.view-report { font-size: 17px; font-weight: bold; }
a.sparkline { margin: 1px; padding: 5px 2px 2px; display:block; width: 150px; }
a.sparkline:hover { margin: 0; border: 1px solid #e6e6e6; border-bottom: 1px solid #b5b5b5; border-right: 1px solid #b5b5b5; }
img.sparkline{ margin-right: 10px; }

#dLargeGraphWrapper { margin-right: 32px }
#dLargeGraph { width:100%; height:387px; }
.legendLabel { font-size: 13px }
.legend table { padding: 2px 3px 3px 2px; background: #FFFAF0 }

#content h1 { width: 50%; float:left; }
#content .dates { float:right; margin-right: 35px; }
#content .dates input { width: 125px; font-size: 19px; font-weight: normal; }
#content h1, #content h3 { line-height: 20px; margin-bottom:0; padding-bottom:0; }
#ifClickOverlay{ margin-bottom: 20px; border: none }