/*******************/
/* Websites - Edit */
/*******************/
h2 { font-size: 18px; padding-bottom: 10px }
td span { line-height: 35px; width: 125px; vertical-align: top; display: inline-block; }
p { padding-bottom: 10px }
label { margin:0; padding:0 0 5px 0 }
.block-labels label { display: block }
.inline { display: inline !important }
input.cb { position: relative; bottom: 2px; }
select, .tb { width: 200px !important }
.read-only { color:#888; }