/********************/
/* Attributes - Add */
/********************/
.edit-attribute-name { width:95%; margin-left:2%; margin-right:3%; display:none }

div.row { width: 100%; float: left; clear: left; }
div.cell { float: left; vertical-align: middle; padding: 5px; display: block; }

.list-item, .list-item-placeholder { padding:5px 5px 5px 0; margin: 5px 0; border: 1px solid; height: 17px; width:261px; cursor: n-resize; }
.list-item-placeholder { border-style: dashed; cursor: auto; }
.list-item .list-item-name { margin-left: 5px; }