/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/*** END RESET ***/

/*** START COMMON ***/

/* Common Styles */
body { font-family:Arial, Helvetica, sans-serif; color:#63656B; font-size:14px; background-color: #62636A }
h1 { font-size:26px; color: #4B4F51; line-height: 22px; }
h2 { font-size:22px; color: #404040; }
h3 { font-size: 18px; color: #404040; }
textarea { font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px; }
li { padding-bottom: 7px }
strong { font-weight: bold }
em { font-style: italic }
ol { margin-left: 25px }
ol li { list-style: decimal; }

a { text-decoration:none; }
a:hover { color:#595f65 }
a img { border: none }

/* Common Classes */
.button {
	font-size: 17px;
	font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff !important;
	padding: 5px 20px;
	position: relative;
    line-height: 31px;
}

input.button {
    font-family:Arial, Helvetica, sans-serif;
	margin:0;
	cursor: pointer;
	padding:4px 16px;
}

.button object { background: transparent; display: inline; position:absolute; }
.button.loader { cursor: default }
.button img { position: relative; top: 3px }

.hidden, .dialog { display: none }
.hidden-fix { position: absolute; left: -5000px }

.col-1 { width: 100% }
.col-1.info-box { width: 97.5% }
.col-2 { width: 50%; }
.col-3 { width: 33.33%; }
.col-4 { width: 25% }
.float-left { float:left; position:relative }
.float-right { float:right; position:relative }
.float-none { float: none }
.small { font-size: 0.66em }
.big { font-size: 1.5em }
.bold { font-weight: bold }
.text-left { text-align: left }
.text-right { text-align:right; }
.text-center { text-align:center; }
.success, .success p { color: #090 }
.yellow, .warning { color: #FFCF40 }
.alert, .error, .red{ color: #F00; }
.padding-bottom { padding-bottom: 7px }
.image-border { padding: 1px; border: 1px solid #929292 }
.top { vertical-align: top }
.relative { position: relative; }
.clr { clear: both; }
.tmpval { color: #929292 }
.width-auto { width: auto }
.height-100 { height: 100px }
.height-200 { height: 200px }
.height-300 { height: 300px }
.position-absolute { position: absolute }

#content p, .boxy-content p { line-height: 19px; padding-bottom: 7px }

/*** END COMMON ***/

/*** START TEMPLATE SPECIFICS ***/

/* Main Containers */
#wrapper { min-height:100%; width:100%; }
#header { height: 82px; background: url(/images/slivers/header.png) 0 100% repeat-x; padding: 0 20px; }

#log-out {
	height:19px; position:absolute; top:10px; right: 20px; font-size: 11px; font-weight: bold;
}
#log-out p { margin-bottom: 5px }

#nav { position: relative; height: 43px; border-bottom: 5px solid; padding: 0 20px; background: url(/images/slivers/navigation.png) 0 0 repeat-x }
#nav-links { height:43px; width: 100%; position:relative; background: url(/images/nav-divider.png) 0 0 no-repeat; }
#nav-links a { position: relative; top: 13px; padding: 12px 14px 26px 10px; color: #676C73; font-size: 15px; font-weight: bold; background: url(/images/nav-divider.png) 100% 0 no-repeat;
    text-shadow: 0px -1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
}

#nav-links a.selected, #nav-links a:hover { color: #fff;
    background-image: url(/images/nav-divider.png), url(/images/backgrounds/nav-selected.png);
    background-position: 100% 0, 45% 100%;
    background-repeat: no-repeat;
}

#nav-right { height: 43px; float:right; background: url(/images/nav-divider.png) 0 0 no-repeat; }
#support:hover div { display: block; z-index: 999 }
#aSupport { background-image: none !important; }
#support-drop-down { position: absolute; right: -20px; top: 35px; }
#support-drop-down a {
    background-color: #333436; padding: 8px 22px 8px 20px; color: #FFF; font-size: 17px; font-weight: bold; display: block; width: 188px;
    text-shadow: 0px -1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
    background-image: none;
}

#support-drop-down a:hover {
    background-image: linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,34) 56%)
    / -o-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,34) 56%)
    / -moz-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,34) 56%)
    / -webkit-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,34) 56%)
    / -ms-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,34) 56%)
    / -webkit-gradient( linear, left top, left bottom, color-stop(0.11, rgb(63,65,66)), color-stop(0.56, rgb(33,33,34)) );
}

#current-site { height: 32px; padding: 18px 19px 0; background-color: #ECF1F4 }
#current-site h3 { font-size: 17px; font-weight: bold; display: inline; color: #4B4F51 }
#current-site p { display: inline }
#current-site a { font-size: 15px; font-weight: bold }

#return-to-admin { position: relative; bottom: 9px; float: right }

#sidebar { margin-top: 47px; width: 150px; background: #282829 url(/images/backgrounds/sidebar.png) 0 0 no-repeat; padding: 5px; position: absolute; }
#actions { border: 1px solid #212121; }

#sidebar a.top { border-top: 1px solid #434547; border-bottom: 1px solid #212121; font-weight: bold; font-size: 14px; color: #757980; display: block; background-color: #333436; padding: 8px; }
#sidebar a.top.selected, #sidebar a.top:hover { color: #F0F5FF;
    /* Setup Gradient */
    background-image: linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,33) 56%)
    / -o-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,33) 56%)
    / -moz-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,33) 56%)
    / -webkit-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,33) 56%)
    / -ms-linear-gradient(top, rgb(63,65,66) 11%, rgb(33,33,33) 56%)
    / -webkit-gradient( linear, left top, left bottom, color-stop(0.11, rgb(63,65,66)), color-stop(0.56, rgb(33,33,33)) );
}
#sidebar a.top.last { border-bottom: none !important; }
#sidebar a.top.first { border-top: none !important; }

#sidebar a.sub { border-top: 1px solid #595B5D; border-bottom: 1px solid #303133; font-weight: bold; font-size: 12px; display: block; padding: 9px 8px 9px 28px; background-color: #434547; }
#sidebar a.sub.selected, #sidebar a.sub:hover { color: #fff; }
#sidebar a.sub.first { border-top: 1px solid #434547 !important; }
#sidebar a.sub.last { border-bottom: 1px solid #212121; }

#sidebar a.sub.view { background: #434547 url(/images/icons/view.png) 8px 8px no-repeat }
#sidebar a.sub.add { background: #434547 url(/images/icons/add.png) 8px 8px no-repeat }
#sidebar a.sub.export { background: #434547 url(/images/icons/export.png) 8px 8px no-repeat }
#sidebar a.sub.import { background: #434547 url(/images/icons/import.png) 8px 8px no-repeat }

#content { background: #DADFE3; }
#subcontent-wrapper { margin-left: 180px; padding-top: 47px; margin-right: 20px; padding-bottom: 30px; }
#narrow-your-search-wrapper { margin-left: 180px; padding-top: 47px; margin-right: 20px; }
#narrow-your-search, #subcontent { border: 1px solid #C7D1D9; background-color: #fff; padding: 20px; }
#subcontent-wrapper.narrow-your-search { padding-top: 20px }
#narrow-your-search h2 { font-size: 26px; margin-bottom: 25px; }
#narrow-your-search select { width: 300px }

#footer { margin-top: 26px; margin-bottom: 26px;text-align: right; padding: 0 20px; }
#footer a { font-weight: bold; font-size: 12px; }
#copyright { float: left; font-size: 11px; font-weight: bold; }

/* Optional */
#tabs { padding-left: 180px; padding-top: 47px; background-color: #DADFE3; }
#tabs .tab-link { position: relative; bottom: 7px; background: url(/images/slivers/tab.png) 0 0 repeat-x; display: inline;border: 1px solid #C7D1D9; border-bottom: none; padding: 6px 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tabs a { font-size: 15px; font-weight: bold; color: #AEB2B8; padding: 5px 10px 14px;
    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

#tabs a.selected, #tabs a:hover {
    background: url(/images/backgrounds/tab-selected.png) 50% 100% no-repeat;
    color: #828487;
}


/***** Dialogs *****/
.boxy-wrapper { position: absolute; font-size: 14px; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */
.boxy-modal-blackout { position: absolute; background: #000; left: 0; top: 0; }

/* Border */
.boxy-wrapper {
	border: 0;
}

/* Title bar */
.boxy-wrapper .title-bar {
    background: #3C3D40; padding: 6px; position: relative;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.boxy-wrapper .title-bar h2 { font-size: 20px; color: #fff; line-height: 1; margin: 0; padding: 9px 40px 9px 9px; font-weight: bold; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 14px; line-height: 1; }
.boxy-wrapper .title-bar .close img {  position: relative; right: 15px; top: 12px; }

/* Boxy Footer */
.boxy-footer {
    background: #3C3D40; padding: 15px 20px; height: 34px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.boxy-footer a.close { color: #fff; font-size: 15px; font-weight: bold; position: relative; top: 10px; }

.boxy-footer a.button { position: relative; top: 10px }

/* Content Region */
.boxy-inner { overflow: hidden; padding: 0 }
.boxy-content { padding: 15px; background-color:  #fff }
.boxy-content h3 { font-size: 13px; font-weight: bold; color: #333; border-bottom: 1px solid #B3B3B3; position: relative; padding-bottom: 4px; margin-bottom: 7px; }
.boxy-content .tb, .boxy-content textarea { font-size: 15px; border: 1px solid #B3B3B3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Question Boxes */
.boxy-content li { padding-bottom: 7px }

/***** Tickets *****/
#tTicketSummary{margin-bottom:7px}
#taTicketMessage { font-family: Arial, Helvetica, sans-serif; font-size: 14px }
#tTicketSummary, #taTicketMessage { width:650px }
#ticket-attachments-list { margin: 13px 0 23px }
#ticket-attachments-list a.delete { position: relative; left: 19px; top: 3px }
#ticket-attachments-list .upload { margin-bottom: 9px }

/***************/
/* Form Styles */
/***************/
form td, table.formatted td { padding: 0 10px 7px 0; }
label { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.dataTables_filter input, input.tb, select {
	border: 1px solid #B3B3B3;
	height: 19px;
	padding: 6px 8px 7px;
	width: 368px;
}

select { height:34px; width: 386px;
    background-image: linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -o-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -moz-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -webkit-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -ms-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -webkit-gradient( linear, left top, left bottom, color-stop(0.11, rgb(247,248,250)), color-stop(0.56, rgb(235,237,239)) );
}
select option {
    background-color: #F4F5F7;
    padding: 8px 8px 10px;
}

.cb { position: relative; top: 3px; }
select.multiple { height: 150px }
textarea {
	border: 1px solid #B3B3B3;
	padding: 5px 8px;
	width: 350px;
}
.top { vertical-align: top }

table.format th { font-weight: bold; }
table.format tr td, table.format tr th{ padding-top: 3px; padding-bottom: 7px; padding-right: 10px; border-bottom: 1px solid #929292 }
table.format tr.last td { border-bottom: 0 }


/***** Data Tables *****/
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: #fff;
	z-index: 9999
}


.dataTables_length { width: 150px; position:absolute; top: -44px; left: 296px; }
.dataTables_length select { width: 100px; }
.dataTables_filter { position: absolute; width: 300px !important; top: -44px; font-weight: bold; }
.dataTables_filter input { width: 200px; }
.dataTables_info { width: 20%; padding-right: 20px; position: relative; top: 15px; }

.dataTables_paginate {
	width: 68px;
	position:relative;
    top: 10px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 25px;
	width: 34px;
	float: left;
    background-image: url(/images/data-tables/arrows.png);
    background-repeat: no-repeat;
}

.paginate_disabled_previous {
	background-position: 0 -25px;
}

.paginate_enabled_previous {
	background-position: 0 0;
	cursor: pointer;
}

.paginate_disabled_next {
	background-position: -34px -25px;
}

.paginate_enabled_next {
	background-position: -34px 0;
	cursor: pointer;
}

.dataTables_info, .dataTables_paginate {
	float: right;
	text-align:right;
}

.dataTables_empty {
	text-align: center;
}

.dataTables_wrapper { padding: 1px; background:#fff; border: 1px solid #b5b5b9; position: relative; margin-bottom: 40px; margin-top: 44px; }

.dt {empty-cells:show; word-wrap:break-word; background:#fff; clear:left;}
.dt th, .dt td { font-weight: bold; vertical-align:middle; }
.dt th { text-align: left; font-size: 14px; background: #333436; color:#fafafa; line-height:26px; padding-bottom: 0; cursor:pointer; padding: 1px 0 1px 10px; position:relative; }
.dt th img { float: right; margin: 8px 5px 0 0; }
.dt th.sorting_asc img { background: url(/images/data-tables/arrow-up.png) 0 0 no-repeat }
.dt th.sorting_desc img { background: url(/images/data-tables/arrow-down.png) 0 0 no-repeat }
.bottom { position: relative; top: 7px }

.dt td { font-size: 14px; color:#5f5f66; vertical-align: top; padding: 7px 0 10px 10px; border-top: 1px solid #fff; border-bottom: 1px solid #d5d5da; font-weight: normal }
.dt tr.last td { border-bottom: 0 }
.dt tr.odd, .dt tr.odd td{ background:#fff; }
.dt tr.even, .dt tr.even td { background: #F5F6F7 }
.dt .actions { margin-top: 5px; }

.generic th, .generic td { border: 1px solid #BCBCBC; border-bottom: 0 !important;  padding: 3px 5px }
.generic th { font-weight: bold }
.generic tr.last td { border-bottom: 1px solid #BCBCBC !important }

/*** Notifications ***/
.sticky p, .floated p, .fixed p, .ondemand p{ text-align: center; padding:0px; margin:0px; margin-left:10px; line-height:45px; color:#fff; font-size:15px; }
.sticky a, .floated a, .fixed a, .ondemand a{ float:right; margin:13px 10px 0px 0px; }

.sticky {
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    border-bottom:3px solid #fff !important;

    background: #91BD09; /* Old browsers */
    background: -moz-linear-gradient(top, #91BD09 0%, #91BD09 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#91BD09, #91BD09 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #91BD09),color-stop(1, #91BD09));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.sticky.error {
    background: #bd2b0b; /* Old browsers */
    background: -moz-linear-gradient(top, #BD2B0B 0%, #BD2B0B 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#BD2B0B, #BD2B0B 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #BD2B0B),color-stop(1, #BD2B0B));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.floated {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    border-bottom:3px solid #fff !important;
    background: #0e59ae; /* Old browsers */
    background: -moz-linear-gradient(top, #0e59ae 0%, #0e59ae 100%); /* FF3.6+ */


    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #0E59AE),color-stop(1, #0E59AE));/* IE6,IE7 */
    -pie-background: linear-gradient(#0E59AE, #0E59AE 100%);
    behavior: url(/resources/PIE.htc);
}

.fixed {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	border-bottom:3px solid #fff !important;

	background: #660099; /* Old browsers */
	background: -moz-linear-gradient(top, #660099 0%, #660099 100%); /* FF3.6+ */

	/* FireFox 3.6 */
	/* Safari4+, Chrome */
	-pie-background: linear-gradient(#660099, #660099 100%);
	behavior: url(/resources/PIE.htc);
	-moz-box-shadow: 1px 1px 7px #676767;
	-webkit-box-shadow: 1px 1px 7px #676767;
	box-shadow: 1px 1px 7px #676767;
	height: 45px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #660099),color-stop(1, #660099));/* IE6,IE7 */
	/* IE8 */
	/* Firefox F3.5+ */
	/* Safari3.0+, Chrome */
}

.ondemand {
    width:100%;
    border-bottom:3px solid #fff !important;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;

    background: #CC0000; /* Old browsers */
    background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%); /* FF3.6+ */

    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#CC0000, #CC0000 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 45px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CC0000),color-stop(1, #CC0000));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
}

.ondemand-button {
    width:40px !important;
    height:40px;
    float:right !important;
    z-index:999;
    position:absolute;
    margin-right:100px!important;
}

.show{
    background: #CC0000; /* Old browsers */
    background: -moz-linear-gradient(top, #CC0000 0%, #CC0000 100%); /* FF3.6+ */


    /* FireFox 3.6 */
    /* Safari4+, Chrome */
    -pie-background: linear-gradient(#CC0000, #CC0000 100%);
    behavior: url(/resources/PIE.htc);
    -moz-box-shadow: 1px 1px 7px #676767;
    -webkit-box-shadow: 1px 1px 7px #676767;
    box-shadow: 1px 1px 7px #676767;
    height: 35px;
    float: right;
    width: 30px;
    overflow:hidden;
    /*margin-top: 0px !important;*/
    margin-right: 10px !important;
    text-align: center;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #CC0000),color-stop(1, #CC0000));/* IE6,IE7 */
    /* IE8 */
    /* Firefox F3.5+ */
    /* Safari3.0+, Chrome */
    /* Opera 10.5, IE 9.0 */
}

.show img{ margin-top:10px; }

/***** CK Editor - RTE *****/

span.cke_skin_kama, .cke_skin_kama .cke_wrapper {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
span.cke_skin_kama { padding: 0 !important; border-color: #b2b2b2 !important }
.cke_skin_kama .cke_wrapper { padding: 0 !important }
td.cke_top { padding: 5px 5px 0 5px; border-bottom: 1px solid #b2b2b2;
    background-image: linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -o-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -moz-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -webkit-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -ms-linear-gradient(top, rgb(247,248,250) 11%, rgb(235,237,239) 56%)
    / -webkit-gradient( linear, left top, left bottom, color-stop(0.11, rgb(247,248,250)), color-stop(0.56, rgb(235,237,239)) );
}
td.cke_bottom { padding: 0 5px 5px 5px; border-top: 1px solid #b2b2b2; background-color:  #F4F6F8 }

/***** File Uploader *****/
.qq-uploader { position:relative; width: 100%; display:inline}

.qq-upload-button {
	display: inline;
}

.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:7px 0 0; padding:0; list-style:disc;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

/*.qq-upload-file {}*/
.qq-upload-spinner {display:inline-block; background: url(/images/loading.gif); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size { display: none !important; visibility: hidden; width: 0px; height:0px; }
.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}
.upload-file { color: #808B8F !important }


/** Media Manager */
#dUploadFile { width: 635px }
#file-list { max-height: 274px; width: 627px; overflow-y: scroll; padding: 8px 0 0 8px; }
#dUploadFile #tFileName { width: 511px }
#dUploadFile div.file { float: left; width: 126px; height: 126px; margin: 0 15px 15px 0; position: relative }
#dUploadFile div.file a.file {  width: 124px; height: 124px;border: 1px solid #c5c5c5; text-align: center; display: block;}
#dUploadFile a.file img { max-width: 124px; max-height: 124px; margin: 0 auto; }
#dUploadFile div.file:hover a.file, #dUploadFile a.file.selected {
    border: 1px solid #377ca4 !important;
    -webkit-box-shadow: 0 0 8px 1px #377ca4;
    box-shadow: 0 0 8px 1px #377ca4;
}
#dUploadFile .delete-file { position: absolute; top: 6px; right: 6px; display: none }
#dUploadFile div.file:hover .delete-file { display:block }
#dUploadFile #tCurrentLink {  width: 617px }
#dUploadFile a.file span { width: 114px; overflow: hidden; padding: 7px 5px 6px; font-size: 13px; display: block; background-color: #dcdcdc }