#content { padding-right: 325px;  }
#tAddProducts_length { left: 0 }
.divider { width: 100%; height:1px; background-color: #D3D3D3; margin-top: 22px; }

#right-sidebar {width: 306px; margin: 47px 5px; background: #DADFE3; position: absolute; right: 0; padding: 0 10px; }
#right-sidebar .box { width: 306px;  margin-bottom: 10px; border: 1px solid #AFAFAF; background: #fff }
#right-sidebar .box-content { padding: 0 10px 10px; }
#right-sidebar .box h2 { font-size:20px; font-weight:bold; color:#fff; line-height:30px; padding:0 10px 0 19px; margin: 1px 1px 10px; }

.added-product, .dRequestItem { padding: 5px 25px 5px 5px; position:relative; }
.added-product a, .dRequestItem a { position: absolute; right: 5px; top: 4px }

div.even { background-color: #E3E3E3 !important; }