/***********************/
/* Checklists - Manage */
/***********************/
#checklist-section { position: relative; }
.section { border: 1px solid transparent; position: relative; }
.section:hover { background:  url(/images/icons/sort.png) 0 3px no-repeat; }
.section-placeholder { border: 1px dashed #ccc; width: 565px; position: relative; margin-left: 21px; height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#aAddSection, .section-title { font-size: 18px; margin-left: 21px;line-height: 20px; width: 560px }
.section-items { margin-top: 8px }
.add-section-item { margin-left:  21px }

.item {
	display: block;
	height: 22px;
	vertical-align: middle;
    padding:  5px 0 5px 21px;
	margin-bottom: 3px;

}
.item:hover { background:  url(/images/icons/sort.png) 0 8px no-repeat; }
.item:hover .remove-item, .section:hover .remove-section { display: inline !important }
.remove-item { position: relative; top: 2px; }
.remove-section { position: relative; top: 2px; left: 6px }

.item-placeholder { width: 565px; margin: 5px 0 5px 21px; border:  1px dashed #ccc; height: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.item-name { width: 350px !important }
.item-assigned-to { width: 200px !important }