/**************/
/* Tickets */
/**************/
.dataTables_wrapper .top { position: absolute; width: 100% }
#tListTickets_filter { position: absolute; width: 300px !important; top: -51px; right: 0; }
#tListTickets_processing { position: absolute; z-index: 9999 }
.dataTables_filter input {
	font-size: 12px; padding: 8px 11px 9px; border: 1px solid #c8d2d6; width: 217px; color: #808b9d; font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#dListTickets { padding: 1px; background:#fff; border: 1px solid #b5b5b9; position: relative;  }
#tListTickets {empty-cells:show; word-wrap:break-word; background:#fff; clear:left;}
#tListTickets th, #tListTickets td { font-weight: bold; vertical-align:middle; }
#tListTickets tr {margin:1px 0px;}
#tListTickets th { font-size: 14px; background: #8F919B; color:#fafafa; line-height:26px; padding-bottom: 0; cursor:pointer; padding: 1px 0 1px 10px; position:relative; }
#tListTickets th.center { text-align: center; padding-left: 0 }
#tListTickets th img { float: right; margin: 8px 5px 0 0; }
#tListTickets th.sorting_asc img { background: #8F919B url(/images/backgrounds/tickets/arrow-up.png) 0 0 no-repeat }
#tListTickets th.sorting_desc img { background: #8F919B url(/images/backgrounds/tickets/arrow-down.png) 0 0 no-repeat }
#tListTickets_paginate { position:relative; bottom: 2px }
.bottom { position: relative; top: 7px }

#tListTickets td { font-size: 14px; color:#5f5f66; vertical-align: top; padding: 7px 0 10px 10px; border-top: 1px solid #fff; border-bottom: 1px solid #d5d5da; font-weight: normal }
#tListTickets tr.last td { border-bottom: 0 }
#tListTickets td.priority { padding: 0; }
#tListTickets tr.odd, #tListTickets tr.odd td{ background:#fff; }
#tListTickets tr.even,#tListTickets tr.even td { background: #f2f3f5 }
#sStatuses { position: absolute; z-index: 9999; padding: 7px 5px 7px 17px; width: 148px; height: 35px; display: block; right: 470px; top: -51px; border: 1px solid #c8d2d6; font-size: 12px; font-weight: bold; color: #808b9d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#sStatuses option, #sAssignedTo option {
	padding: 7px 17px;
}

#sAssignedTo {
	position: absolute; padding: 7px 5px 7px 12px; height: 35px; display: block; right: 628px; top: -51px; border: 1px solid #c8d2d6; font-size: 12px; font-weight: bold; color: #808b9d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.yellow { color: #FFBA00; }
.rb { position: relative; top: 3px; }
label { margin-right: 10px }
.normal { color: #6abe00 }
.high { color: #d70000 }
.urgent { color: #fff; background: #d70000 }
.normal, .high, .urgent { display: block; text-align:center; padding: 7px 5px 10px; font-weight: bold }
span.urgent{ padding: 7px 5px 9px; margin-bottom: 1px; }

/***** Data Tables *****/
.dataTables_length select { 
	padding: 7px 5px 7px 17px; width: 148px; height: 35px; display: block; border: 1px solid #c8d2d6; font-size: 12px; font-weight: bold; color: #808b9d; position:absolute; right: 310px; top: -57px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dataTables_length option {
	padding: 7px 17px;
}
