
/* Base Styles
----------------------------------------- */
.clearfix,
.clear:after { height: 0; line-height: 0; font-size: 0; content: '.'; display: block; visibility: hidden; clear: both; }
/* \*/ * html .clear { height:1px } /* */

/* Email Layout Styles
----------------------------------------- */
.email-layout {
    padding: 15px;
    margin-bottom: 17px;
    width: 600px;
}

/* Email Placeholders - Rows */
.email-row-1, .email-row-2, .email-row-3, .email-row-4, .email-row-5, .email-row-6 { margin: -5px; }
.email-row-1 { min-height: 50px; }
.email-row-2 { min-height: 100px; }
.email-row-3 { min-height: 150px; }
.email-row-4 { min-height: 200px; }
.email-row-5 { min-height: 250px; }
.email-row-6 { min-height: 300px; }

.email-col-1,
.email-col-2,
.email-col-3,
.email-col-4,
.email-col-5,
.email-col-6,
.email-col-7,
.email-col-8,
.email-col-9,
.email-col-10,
.email-col-11,
.email-col-12  {
    min-height: inherit;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.email-col-1 { width: 8.33%; }
.email-col-2 { width: 16.66%; }
.email-col-3 { width: 25%; }
.email-col-4 { width: 33.33%; }
.email-col-5 { width: 41.66%; }
.email-col-6 { width: 50%; }
.email-col-7 { width: 58.33%; }
.email-col-8 { width: 66.66%; }
.email-col-9 { width: 75%; }
.email-col-10 { width: 83.33%; }
.email-col-11 { width: 91.66%; }
.email-col-12 { width: 100%; }

.email-col-container { min-height: inherit; }

/* Placeholder inner structure */
.placeholder-content { width: 100%; }

/* Styles for elements inside Placeholders */
.content-type-image img { width: 100%; }
.content-type-product .product-img { width: 60%; border: 1px solid #e1e1e1;  margin-left: 20%; margin-bottom: 10px; }
.content-type-product .product-img img { width: 100%; }
.content-type-product .product-content { width: 100%; margin-left: 20%; color: #787d94; }
.content-type-product h2 { font-size: 18px; margin-bottom: 8px; color: #787d94; }
.content-type-product .sale-price { font-size: 20px; color: red; }
.content-type-product .price { font-size: 17px; }
.content-type-product .strikethrough { text-decoration: line-through; }

